.about-wrapper {
  background-color: white;
  margin-top: 3em;
  padding: 3em 0 6em 0;
}

.about {
  width: 80%;
  margin: auto;
}

section {
  padding-bottom: 3em;
}

.about h2 {
  font-size: 3em;
}

.about p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #646464;
}

.about .reach-me {
  display: grid;
  grid-gap: 1em;
  width: 190px;
}

.about .reach-me a {
  width: 100%;
  background-color: transparent;
  border: 2px solid #646464;
  padding: 1em 2em;

  margin: 0 4px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1em;
  font-style: normal;
  color: #646464;
}

.about a:hover {
  background-color: #242a2e;
  color: white;
}

@media (min-width: 768px) {
  .about {
    width: 70%;
  }
}
