.app {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../src/images/background.jpg");

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #464646;
}

header {
    width: 80%;
    margin: auto;
    padding: 4em 0;
    color: white;
}

/* all navigation links */
a {
    text-decoration: none;
}

footer {
    padding: 4em 0 6em 0;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.25em;
}

footer a {
    color: #adadad;
}

footer a:hover {
    color: white;
}
