footer {
    padding: 4em 0 6em 0;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    font-size: 2em;
    padding: 0 0.25em;
}

footer a {
    color: #adadad;
}

footer a:hover {
    color: white;
}
