.introduction {
    padding: 3em 0 6em 0;
}

.b-wrapper {
    display: flex;
    justify-content: center;
}

.b-my-work {
    background-color: transparent;
    border: 2px white solid;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    font-size: 1em;
}

.b-my-work:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
