header {
    width: 80%;
    margin: auto;
    padding-top: 4em;
    color: white;
}

nav {
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-title a {
    color: white;
}

.nav-title a:first-child {
    padding: 3px 12px;
    border-radius: 10px;
    transition: 0.3s;
}

.nav-title a + a {
    margin-left: 8px;
}

.nav-title a:first-child:hover {
    color: black;
    background-color: white;
}

.nav-title i {
    padding: 5px 8px;
    border-radius: 10px;
    transition: 0.3s;
}

.nav-title i:hover {
    color: black;
    background-color: white;
}

.nav-hamburger {
    font-size: 1.5em;
    padding: 3px 10px;
    cursor: pointer;
}

.nav-links {
    font-size: 1.2em;
    display: none;
}

.nav-links a {
    color: #bdbdbd;
    margin-left: 10px;
    padding: 5px 12px;
    transition: 0.3s;
    /* border-radius: 8px; */
}

.nav-links a:after {
    content: "";
    display: block;
    border-bottom: solid 3px white;
    transform: scaleY(0);
    transition: transform 250ms ease-in-out;
}

.nav-links a:hover:after {
    transform: scaleY(1);
}

.nav-links a:hover {
    color: white;
}

@media (min-width: 768px) {
    .nav-hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
    }
}
