.projects-background {
    background-color: #e5e5e5;
}

.projects-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 4em 0 4em 0;
    color: #646464;
}

.projects {
    display: grid;
    position: relative;
    padding: 1em;
    border-radius: 6px;
    box-shadow: 0 3px 3px 0 #c9c9c9;
    background-color: #fff;
}

.projects section {
    padding: 3em 2em 2em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.projects .project-description {
    text-align: left;
    max-width: 360px;
    margin: 20px auto;
}

.projects section:nth-child(n + 2) {
    border-top: solid 2px #e5e5e5;
}

.projects section i {
    margin: 0 auto;
}

.project-icon {
    font-size: 2.5em;
    color: white;
    /* forms a square */
    width: 3em;
    height: 3em;
    /* make background a circle*/
    background-color: #27496d;
    border-radius: 100%;
    /* pushes the icon down to middle */
    line-height: 3em;
}

.b-view-project,
.b-view-code {
    display: inline-block;
    background-color: transparent;
    border: 1.5px black solid;
    border-radius: 4px;
    padding: 10px 0;
    margin: 4px auto;
    transition: 0.3s;
    font-size: 1em;
    width: 10em;
    cursor: pointer;
    color: #646464;
}

.b-view-project:hover,
.b-view-code:hover {
    background-color: #27496d;
    color: white;
}

.language-icons {
    font-size: 1.5em;
    margin-top: auto;
}

.fruitmelody {
    background-color: transparent;
}

.fruitmelody img {
    height: 80px;
    padding-top: 25px;
}

/* When stretched above phone and tablet devices */
@media (min-width: 768px) {
    .projects-wrapper {
        width: 80%;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
        padding: 2em;
    }

    .projects section:nth-child(n + 2) {
        border-top: none;
    }
    .projects section:nth-child(odd) {
        border-right: solid 2px #e5e5e5;
        border-bottom: solid 2px #e5e5e5;
    }
    .projects section:nth-child(even) {
        border-bottom: solid 2px #e5e5e5;
    }
    .projects section:last-child {
        border-bottom: none;
    }

    .projects section {
        padding: 4em 3em 2em 3em;
    }
}
